@model IEnumerable<AppUserModel>
@{
    ViewData["Title"] = "List User";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"]</title>
</head>
<body>
    <h3>@ViewData["Title"]</h3>

    <a class="btn btn-primary" asp-action="Create" asp-controller="User">Add User</a>

    <div class="table-responsive">
        <table class="table" id="myTable">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>UserName</th>
                    <th>Email</th>
                    <th>PasswordHash</th>
                    <th>Phone</th>
                    <th>Role</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var user in Model)
                {
                    <tr>
                        <td>@user.Id</td>
                        <td>@user.UserName</td>
                        <td>@user.Email</td>
                        <td>@user.PasswordHash</td>
                        
                        <td>
                            <a asp-action="Edit" asp-route-id="@user.Id">Edit</a> |
                            <a asp-action="Delete" asp-route-id="@user.Id">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</body>
</html>

